<style>
	table{
		table-layout: auto;
	}
	
	#{{SymbolName}}tr{
		background-color: {{config.HeaderColor}};
		color: #FFFFFF;
	}
	
	.colheader{
		font-weight: bold;
		padding:5px;
		width: 20px;
		border: 1px solid #dddddd;
	}
	
	.tabledata {
		border: 1px solid #dddddd;
		padding:0px 5px 0px;
		white-space:nowrap;
		color: #000000;
		font-weight: normal;
	}
	.tabledata:first-child{
		font-weight: bold;
		white-space:nowrap;		
	}
	
	.therow:nth-child(even) {
		background-color: #dddddd;
	}
	.therow:nth-child(odd) {
		background-color: #FFFFFF;
	}
	.error{
		background-color: red;
		color: #FFFFFF;
		font-weight: bold;
	}
	
	.overflowDiv{
		overflow: auto;
		width: 100%;
		height: 100%;
	}

</style>
<div class="overflowDiv">
	<table>
		<caption class="error">{{ErrorDescription}}</caption>
		<tr id="{{SymbolName}}tr">
			<th ng-repeat='hea in Headers track by $index' class="colheader">{{hea}}</th>	
		</tr>
		<tr ng-repeat = 'tab in Table track by $index' class="therow">
			<td ng-repeat='tb in tab track by $index' class="tabledata">{{tb}}</td>
		</tr>
	</table>
</div>